In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('anies5.csv')
df2 = pd.read_csv('anies6.csv')
df3 = pd.read_csv('anies7.csv')

In [3]:
print('anies 5 : ',df1.shape)
print('anies 6 : ',df2.shape)
print('anies 7 : ',df3.shape)

anies 5 :  (800, 7)
anies 6 :  (2619, 7)
anies 7 :  (2395, 7)

In [4]:
df_concat = pd.concat([df1, df2, df3])
df_concat.shape
# df_concat

(5814, 7)

In [5]:
df_concat.drop_duplicates(subset=['text'], keep='first', inplace=True)
df_concat.shape
# df_concat

(2565, 7)

In [6]:
df_concat = pd.DataFrame(df_concat[['id', 'date', 'text', 'place', 'screen_name']])
df_concat.to_csv('anies.csv')
df_concat

,id,date,text,place,screen_name
0,1661196530127351808,2023-05-24 02:24:50,RT @eddy_widodo_165: Alhamdulilah ðŸ¤²\nBacapres ...,INDONESIA,jijindut
1,1661196491896266752,2023-05-24 02:24:41,RT @renandabachtar: Din Syamsuddin Lebih Senan...,NaN,georgiussoetjip
2,1661196455691046912,2023-05-24 02:24:33,RT @PutraErlangga95: Ingin menyelamatkan Indon...,NaN,003whitesky1
3,1661196446203523073,2023-05-24 02:24:30,"RT @idtodayco: Kurang Bukti, Relawan Ganjar Pr...",NaN,et_fath
4,1661196388963856390,2023-05-24 02:24:17,RT @Yurissa_Samosir: Sambutan hangat dari Masy...,NaN,et_fath
...,...,...,...,...,...
2383,1686005950476677120,2023-07-31 13:28:37,RT @rahmaniarbaftim: Untuk bisa menjadi Pemimp...,NaN,Joewija45450015
2386,1686005857828679681,2023-07-31 13:28:15,RT @YepryR: Terimakasih masyarakat brebes jawa...,NaN,Ayong32516903
2391,1686005757882593280,2023-07-31 13:27:51,Anies Baswedan tegaskan tidak akan lanjutkan P...,NaN,bhozsadolf
2393,1686005743378731008,2023-07-31 13:27:48,RT @MissKoral: Petani Brebes Jateng Deklarasi ...,"DKI Jakarta, Indonesia",aly_benzema
2394,1686005736676171776,2023-07-31 13:27:46,RT @OposisiCerdas: Partai Masyumi Dukung Anies...,NaN,muawanah05