In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('prabowo5.csv')
df2 = pd.read_csv('prabowo6.csv')
df3 = pd.read_csv('prabowo7.csv')

In [3]:
print('prabowo bulan 5 : ',df1.shape)
print('prabowo bulan 6 : ',df2.shape)
print('prabowo bulan 7 : ',df3.shape)

prabowo bulan 5 :  (740, 7)
prabowo bulan 6 :  (2480, 7)
prabowo bulan 7 :  (2027, 7)

In [4]:
df_concat = pd.concat([df1, df2, df3])
df_concat.shape
# df_concat

(5247, 7)

In [5]:
df_concat.drop_duplicates(subset=['text'], keep='first', inplace=True)
df_concat.shape
# df_concat

(3970, 7)

In [6]:
df_concat = pd.DataFrame(df_concat[['id', 'date', 'text', 'place', 'screen_name']])
df_concat.to_csv('prabowo.csv')
df_concat

,id,date,text,place,screen_name
0,1661196377966387201,2023-05-24 02:24:14,"RT @BANGSAygSUJUD: ""Kali ini sudah saatnya @pr...",NaN,florieliciouss
1,1661195956300435458,2023-05-24 02:22:34,"4 Respons Kornas, PDIP, hingga Gerindra Usai P...",INDONESIA,liputan6dotcom
2,1661195925774274560,2023-05-24 02:22:26,"RT @Paltiwest: Prabowo Subianto: 24,5%\nGanjar...",NaN,BiBoDah1
3,1661195905796812800,2023-05-24 02:22:22,RT @mingtongue_: Partai besutan Prabowo Subian...,West java,7uventusia
4,1661195584211128320,2023-05-24 02:21:05,"4 Respons Kornas, PDIP, hingga Gerindra Usai P...",Alam Bawah Sadar,RSeptianEGeo
...,...,...,...,...,...
2021,1686002004840398848,2023-07-31 13:12:57,Atau bisa kita simpulkan juga Menhan RI Prabow...,NaN,Juliangrif75550
2022,1686001814720892928,2023-07-31 13:12:11,Atau bisa kita simpulkan juga Menhan RI Prabow...,NaN,katherinec16023
2023,1686001742666932224,2023-07-31 13:11:54,Dan mungkin sudah saatnya kita bangsa Indonesi...,NaN,melissa_ad85116
2024,1686001738770444289,2023-07-31 13:11:53,Peneliti Badan Riset dan Inovasi Nasional (BRI...,NaN,Xavierjame41958
2025,1686001682327744512,2023-07-31 13:11:40,Peneliti Badan Riset dan Inovasi Nasional (BRI...,NaN,Daltonrodn91717